version: "3.6"
secrets:
  secret1:
    external: true
  secret2:
    external: true

services:
  helloworld:
    image: nginxdemos/hello:0.2
    secrets:
      - secret1
      - secret2
    deploy:
      mode: replicated
      replicas: 1
